# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\World of Warcraft\_retail_\Interface\AddOns\AdiBags_Shadowlands\AdiBags_Creator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
